body {
    background: #f9e933;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid gray;
}

header h1 {
    float: left;
    font-size: 2em;
}

header nav {
    float: right;
    width: 285px;
}


main {
    background: white;
    overflow: hidden;
    padding: 10px 0;
}

main .left {
    float: left;
    width: 570px;
}

main .rigth {
    float: right;
    width: 285px;
}

main img {
    padding: 10px;
}

main ul {
    list-style-type: circle;
}

main li {
    margin-left: 20px;
}


footer {
    overflow: hidden;
    padding-top: 10px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}

footer .sitemap ul {
    column-count: 2;
}


h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 6px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.05em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}